body {
  @apply overflow-auto;
}
.active {
  @apply fixed h-full top-auto z-[600] pr-6 overflow-auto pb-[100px];
}
h1 {
  @apply font-bold text-[19px];
}
h2 {
  @apply font-bold text-[18px];
}
h3 {
  @apply font-bold text-[17px];
}
h4 {
  @apply font-semibold text-[16px];
}
.ck-content .grid6x6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}
.ck-content .grid3x6x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}
.ck-content .bordered-cell {
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.ck-content .grid12 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 3, 6, and 3 column widths */
  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}

.ck-content .col-3 {
  border: 2px solid blue;
  padding: 4px;
}

.ck-content .col-6 {
  border: 2px solid green;
  padding: 4px;
}
.product__react-wrapper {
  min-height: 200px; /* Thiết lập chiều cao tối thiểu */
  border: 1px solid #ccc; /* Có thể thêm viền để dễ nhận diện */
  padding: 10px; /* Thêm khoảng cách bên trong */
  background-color: #f9f9f9; /* Màu nền cho vùng nhập liệu */
}
.QuotesFitContent,
.box-quotes-blue,
.box-quotes-green,
.box-quotes-grey {
  @apply py-5;
  position: relative;
  border-left: none !important;
  font-style: initial !important;
}
.custom-quote-button,
.quotes-with-icon-button,
.quote-lines {
  position: relative;
  margin: 20px 0;
  border-left: none !important;
  font-style: initial !important;

  text-align: center;
}
.quote-lines p {
  @apply py-2;
}
.quotes-with-icon-button {
  display: block;
  min-height: 60px;
  position: relative;
  width: 100%;
  padding-top: 20px !important;
  padding-left: 75px !important;
  text-align: start;
}
.custom-quote-button::before,
.custom-quote-button::after,
.quote-lines::before,
.quote-lines::after {
  content: '';
  width: 33%;
  height: 2px;
  background-color: #000;
}

.quotes-with-icon-button::before {
  content: '“';
  font-family: serif;
  font-size: 130px;
  position: absolute;
  line-height: 0;
  left: 0;
  top: 50px;
}
.quote-lines::before,
.quote-lines::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.custom-quote-button::before .quote-lines::before {
  top: 0; /* Dòng trên */
}

.quote-lines::after,
.custom-quote-button::after {
  bottom: 0; /* Dòng dưới */
}

.custom-quote-button {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.quotes-with-icon-button p {
  width: 100%;
}
.box-quotes-blue {
  @apply bg-blue-200;
}
.box-quotes-green {
  @apply bg-green-200;
}
.box-quotes-grey {
  @apply bg-slate-300;
}
.QuotesFitContent p {
  width: fit-content;
  padding: 5px 10px;
  @apply bg-slate-300;
}
