
body{
  @apply overflow-auto 
}
.active {
  @apply fixed h-full top-auto z-[600] pr-6 overflow-auto pb-[100px];
}

.ck-content .grid6x6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}
.ck-content .grid3x6x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}
.ck-content .bordered-cell {
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.ck-content .grid12 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 3, 6, and 3 column widths */
  gap: 4px;
  border: 1px dashed #ccc;
  min-height: 60px;
}

.ck-content .col-3 {
  border: 2px solid blue;
  padding: 4px;
}

.ck-content .col-6 {
  border: 2px solid green;
  padding: 4px;
}
